@media(min-width:1200px)
{
    .container{
        max-width: 1280px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        color: white;
    }
}
.bg-primary{
    background: #4570B6;
}
.brand img{
    width: 100%;
}